/**
 * @filename    : common.css
 * @description : 전체 html에 적용될 css
 * @author      : 정 현 수 (jeonghyeonsu3331@gmail.com)
 */
@charset "utf-8";

/* 전체 공통 내용
--------------------------------------*/

* {
    font-family: "NanumBarunGothic", "맑은고딕", "굴림", "Helvetica";

}

body {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}